html {
  background-color: rgba(122, 191, 191, 0.5);
}

body {
  margin: 0 auto;
  width: 414px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  margin: 0;
  display: grid;
  grid-template-rows: 60px 40px 1fr;
}

header {
  position: absolute;
  top: 0;
}

nav {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

nav ul {
  grid-row: 1;
  list-style: none;
  background-color: white;
  overflow: hidden;
  height: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 80px 60px;
  padding: 0;
  margin: 0;
  top: 0;
  width: 480px;
  justify-items: center;
  z-index: 1;
}

nav #dropdown {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

#burger {
  cursor: pointer;
  user-select: none;
}

nav #dropdown:checked ~ nav ul {
  height: 170px;
}

nav ul img {
  width: 40px;
}

nav ul a {
  font-size: 16px;
}

nav ul li {
  text-align: center;
  padding: 12px 0;
  height: fit-content;
  width: fit-content;
  transition: all 0.5s;
}

nav ul li:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}

nav ul li:first-child + li {
  grid-column-start: 3;
  grid-column-end: 6;
  background-color: #eb5428;
  width: 200px;
}

nav ul li:last-child {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
}

#searchInput {
  grid-row: 2;
  background-color: #f2f2f2;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  padding: 15px;
}

#searchInput input,
#searchInput button {
  height: 50px;
  margin: 0;
}

#searchInput input {
  width: 300px;
  grid-row: 1;
  border: 2px solid #eb5428;
}

#searchInput button {
  grid-row: 1;
  background-color: #eb5428;
  border: 2px solid #eb5428;
}

h1 {
  margin-top: 200px;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
}

main {
  background-color: #f2f2f2;
  margin: 0;
  display: block;
}

menu {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  text-align: center;
  color: #eb5428;
}

#tacos {
  width: 414px;
}

@media screen and (min-width: 768px) {
  body,
  nav ul,
  menu {
    width: 768px;
  }

  nav ul {
    height: 200px;
  }

  nav ul li:first-child {
    grid-column-start: 2;
    grid-column-end: 7;
    visibility: hidden;
  }

  nav ul li:first-child + li {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #eb5428;
    width: 110px;
  }

  nav ul li:last-child {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 68px;
  }

  nav ul img {
    width: 60px;
  }

  #searchInput {
    grid-row: 1;
    position: absolute;
    z-index: 1;
    background-color: white;
    right: 160px;
  }

  h1 {
    text-align: left;
    padding-top: 50px;
  }
}

@media screen and (min-width: 1280px) {
  body,
  nav ul {
    width: 1280px;
  }

  nav {
    grid-template-rows: 1fr 100px;
  }

  nav ul {
    height: 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  nav ul li:first-child {
    grid-column: 2;
    visibility: hidden;
  }

  nav ul li:first-child + li {
    grid-row: 1;
    grid-column: 1;
    background-color: #eb5428;
    width: 110px;
  }

  nav ul li:last-child {
    grid-column: 11;
    grid-row: 1;
    width: 68px;
  }

  #searchInput {
    grid-row: 2;
    position: static;
    background-color: #f2f2f2;
    padding-top: 50px;
  }
}
