html {
  background-color: rgba(122, 191, 191, 0.5);
}

h1,
h2,
h3,
nav a,
nav span,
menu li,
#social li,
footer {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p,
dd,
li,
nav,
input {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

dt {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-style: normal;
}

header {
  position: absolute;
  top: 0;
}

h1 {
  font-size: 30px;
  margin: auto;
  margin-top: 200px;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  margin: auto;
  text-align: center;
}

h3 {
  font-size: 30px;
}

body {
  margin: 0 auto;
  width: 414px;
  background-color: #f2f2f2;
}

nav {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

nav ul {
  background-color: #f2f2f2;
  list-style: none;
  overflow: hidden;
  height: 90px;
  display: grid;
  grid-row: 1;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 80px 60px;
  padding: 0;
  margin: 0;
  top: 0;
  z-index: 1;
  width: 414px;
  justify-items: center;
}

nav #dropdown {
  left: 0;
  top: 0;
  visibility: hidden;
  position: absolute;
}

#burger {
  cursor: pointer;
  user-select: none;
}

#details dl {
  margin: 0 10px;
  line-height: 1.5;
}

#details dd {
  display: inline;
}

#details dd:after {
  display: block;
  content: "";
}

#details dt {
  display: inline-block;
}

#sDishes {
  display: flex;
  flex-direction: column;
  background-color: #7abfbf;
}

#sDishes figcaption {
  grid-area: b;
}

#sDishes p {
  grid-area: c;
}

#sDishes dl {
  grid-area: d;
}

#sDishes dd {
  margin: 0;
}

#sDishes img {
  margin: auto;
  width: 100px;
  grid-area: auto;
}

#sDishes figure {
  display: grid;
  grid-template-areas:
    "a b b b"
    "a c c c"
    "a d d d";
  grid-template-columns: 90px 1fr;
  grid-template-rows: 25px 25px 25px;
  column-gap: 10px;
  margin: 20px 0;
}

#sDishes figcaption,
#sDishes p,
#sDishes dl {
  margin: 0;
}

nav #dropdown:checked ~ nav ul {
  height: 170px;
}

nav ul img {
  width: 50px;
}

nav ul a {
  font-size: 15px;
}

nav ul li {
  text-align: center;
  height: fit-content;
  width: fit-content;
  padding: 12px 0;
  transition: all 0.5s;
}

nav ul li:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}

nav ul li:first-child + li {
  grid-column-start: 3;
  grid-column-end: 6;
  background-color: #eb5428;
  width: 200px;
}

nav ul li:last-child {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
}

#searchInput {
  grid-row: 2;
  background-color: #f2f2f2;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  padding: 15px;
}

#searchInput input {
  width: 300px;
  grid-row: 1;
  border: 2px solid #eb5428;
}

#searchInput button {
  grid-row: 1;
  background-color: #eb5428;
  border: 2px solid #eb5428;
}

#searchInput input,
#searchInput button {
  height: 50px;
  margin: 0;
}

main {
  background-color: #f2f2f2;
  margin: 0;
  display: block;
}

main p {
  margin: auto;
  line-height: 2;
}

menu {
  display: inline-flex;
  margin: auto;
  justify-content: space-around;
  list-style: none;
  text-align: center;
  color: #eb5428;
}

menu li a {
  color: #eb5428;
}

menu li a:hover {
  color: #f2f2f2;
  background-color: #eb5428;
}

#tacos {
  width: 414px;
}

#social ul {
  display: flex;
  grid-row: 1;
  list-style: none;
  padding: 0;
  gap: 25px;
}

#social ul li a {
  text-align: center;
  color: #eb5428;
}

#social ul li a:hover {
  color: #f2f2f2;
  background-color: #eb5428;
}

footer {
  display: grid;
  grid-template-rows: 90px 1fr 40px;
  row-gap: 20px;
  justify-content: center;
  text-align: center;
}

footer img {
  margin: auto;
  width: 180px;
  grid-row: 2;
}

@media screen and (min-width: 768px) {
  h1 {
    text-align: left;
    padding-top: 50px;
  }

  body,
  nav ul,
  menu {
    width: 768px;
  }

  #tacos {
    width: 768px;
  }

  #details {
    text-align: center;
  }

  #details dd {
    margin: 10px;
  }

  nav ul {
    height: 200px;
  }

  nav ul img {
    width: 60px;
  }

  nav ul li:first-child {
    visibility: hidden;
    grid-column-start: 2;
    grid-column-end: 7;
  }

  nav ul li:first-child + li {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #eb5428;
    width: 110px;
  }

  nav ul li:last-child {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 68px;
  }

  #searchInput {
    position: absolute;
    grid-row: 1;
    z-index: 1;
    background-color: #f2f2f2;
    right: 120px;
  }

  #sDishes {
    grid-area: auto;
    flex-wrap: wrap;
    flex-direction: row;
  }

  #sDishes figure {
    width: 50%;
  }

  #sDishes h2 {
    margin: 0;
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  h1 {
    width: 1280px;
    text-align: center;
    padding-top: 50px;
  }

  body {
    height: 1700px;
  }

  body,
  nav ul {
    width: 1280px;
  }

  #sTacos {
    display: flex;
    justify-content: space-around;
  }

  #tacos {
    height: 600px;
    width: 600px;
  }

  #first {
    width: 600px;
    margin-left: 30px;
  }

  menu {
    width: 100px;
    height: 750px;
    display: inline-block;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
  }

  h1 {
    width: 1280px;
    text-align: center;
  }

  nav {
    grid-template-rows: 1fr 100px;
  }

  nav ul {
    height: 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  nav ul li:first-child {
    grid-column: 2;
    visibility: hidden;
  }

  nav ul li:first-child + li {
    grid-row: 1;
    grid-column: 1;
    background-color: #eb5428;
    width: 110px;
  }

  nav ul li:last-child {
    grid-column: 11;
    grid-row: 1;
    width: 68px;
  }

  footer {
    display: grid;
    position: relative;
    background-color: #f2f2f2;
    grid-template-rows: 1fr;
    grid-template-columns: 100px 1fr 1fr;
  }

  footer img {
    width: 100px;
    grid-column: 1;
  }

  footer small {
    text-align: left;
    grid-row: 1;
    grid-column: 2;
  }

  #searchInput {
    grid-row: 2;
    position: static;
    padding-top: 50px;
    background-color: #f2f2f2;
  }

  nav ul li:first-child {
    visibility: hidden;
    grid-column: 2;
  }

  nav ul li:first-child + li {
    width: 110px;
    grid-row: 1;
    grid-column: 1;
    background-color: #eb5428;
  }

  nav ul li:last-child {
    width: 68px;
    grid-column: 11;
    grid-row: 1;
  }

  #details {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: black;
    color: #7abfbf;
  }

  #details h2 {
    padding-bottom: 10px;
  }

  #details dl {
    display: grid;
    grid-template-rows: 20px 20px;
  }

  #details dt {
    grid-row: 1;
  }

  #details dd {
    grid-row: 2;
    margin: 0;
  }

  #social {
    grid-row: 1;
    grid-column: 3;
  }

  #social ul {
    gap: 50px;
  }

  #sDishes {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 4;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px 1fr;
    height: 400px;
  }

  #sDishes h2 {
    margin: auto;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 5;
  }

  #sDishes figure {
    margin: auto;
    width: fit-content;
    grid-template-areas:
      "img"
      "figcap"
      "desc"
      "rating";
    grid-template-columns: 250px;
    grid-template-rows: 250px 35px 35px 35px;
  }

  #sDishes figure img {
    width: 250px;
    grid-area: img;
  }

  #sDishes figure figcaption {
    grid-area: figcap;
  }

  #sDishes figure p {
    grid-area: desc;
  }

  #sDishes figure dl {
    grid-area: rating;
  }

  #sDishes figure dl dd {
    display: inline;
  }

  #sDishes figure dl:after {
    display: block;
    content: "";
  }

  #sDishes figure dl dt {
    display: inline-block;
  }
}
